{% extends "catalog/base.html" %}

{% block content %}
    {% load tags_filters %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Заголовок</th>
              <th scope="col">Изображение</th>
              <th scope="col">Количество просмотров</th>
            </tr>
          </thead>
          {% for object in object_list %}
                {% if object.published %}
                  <tbody>
                    <tr>
                      <th scope="row">{{ object.id }}</th>
                      <td>{{ object.title }}</td>
                      <td>
                          <img src="{% media_path object.preview %}" class="rounded mx-auto d-block" alt="" height="70">
                      </td>
                      <td>{{ object.view_count }}</td>
                      <td><a class="btn btn-secondary" href="{% url 'catalog:blog-record_detail' object.slug %}" role="button">Подробнее &raquo;</a></td>
                    </tr>
                  </tbody>
                {% endif %}
            {% endfor %}
        </table>
    <div class="card-footer">
        <a href="{% url 'catalog:blog-record_create' %}" class="btn btn-primary">Добавить запись</a>
    </div>
{% endblock %}
