{% extends "catalog/base.html" %}
{% block content %}
        <div class="col">
          <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Создать"><br><br>
            </form>
            <div class="card-footer">
                <a href="{% url 'catalog:blog-record_list' %}" class="btn btn-primary"><< Все записи</a>
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.col -->
{% endblock %}