{% extends "catalog/base.html" %}

{% block content %}
    {% load tags_filters %}
        <div class="col">
          <div class="col-lg-4">
            <img src="{% media_path object.preview %}" class="card-img-top mx-auto d-block" alt=""
                     style="width: 500px; height: 500px;">
            <h2>{{ object.title }}</h2>
            <p>Текст статьи: {{ object.content }}</p>
            <p>Дата создания: {{ object.create_date }}</p>
            <p>Признак публикации: {{ object.published }}</p>
            <p>Количество просмотров: {{ object.view_count }}</p>
            <div class="card-footer">
                <a href="{% url 'catalog:blog-record_list' %}" class="btn btn-primary"><< Все записи</a>
                <a href="{% url 'catalog:blog-record_update' object.pk %}" class="btn btn-warning">Изменить запись</a>
                <a href="{% url 'catalog:blog-record_list' %}" class="btn btn-danger">Удалить запись</a>
                <a href="{% url 'catalog:blog-record_list' %}" class="btn btn-outline-danger">Снять с
                    публикации</a>
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.col -->
{% endblock %}