<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact_info</title>
</head>
<body>
<h1>Контактная информация:</h1><br><br>
<form method="post">
    {% csrf_token %}
    <input placeholder="name" name="name" /><br><br>
    <input placeholder="email" name="email" type="email" /><br><br>
    <input placeholder="phone" name="phone"/><br><br>
    <textarea placeholder="full name" name="full_name"></textarea><br><br>
    <input type="submit" value="Submit!" />
</form>
</body>
</html>