{% extends "catalog/base.html" %}

{% block content %}
        <main role="main">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% for object in object_list %}
          <div class="col-lg-2">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <p>{{ object.name }}</p>
{#            <p>Описание изделия: {{ object.description }}</p>#}
            <p>Категория: {{ object.category }}</p>
{#            <b><p>Стоимость: {{ object.purchase_price }}</p></b>#}
{#            <p>Дата создания: {{ object.creation_date }}</p>#}
{#            <p>Дата последнего изменения: {{ object.last_modified_date }}</p>#}
            <p><a class="btn btn-secondary" href="{% url 'catalog:coin_item' object.pk %}" role="button">Подробнее &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </main>
{% endblock %}