{% extends "catalog/base.html" %}
{% block content %}
        <div class="col">
          <div class="col-lg-4">
            <form method="post" enctype="multipart/form-data"> <!-- иначе данные разбиваются на части -->
                {% csrf_token %}
                {{ form.as_p}}
                <input type="submit" class="btn btn-success"
                       value="{% if object %}Сохранить{% else %}Создать{% endif %}"><br><br>
            </form>
            <div class="card-footer">
                <a href="{% url 'catalog:product_list' %}" class="btn btn-primary"><< Все товары</a>
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.col -->
{% endblock %}